<div class="search-wrapper">

  <input
    type="text"
    class="search-input"
    placeholder="Search products..."
    [(ngModel)]="searchText"
    (input)="onSearchChange()"
    (keydown.enter)="reloadProducts()"
  />


  @if (suggestions().length) {
    <ul class="suggestions-list">
      @for (product of suggestions(); track product) {
        <li class="suggestion-item" (click)="choseSuggestion(product)" )>
          {{ product }}
        </li>
      }
    </ul>
  }
  <button (click) = "reloadProducts()">
    <span class="material-symbols-outlined">search</span>
  </button>
</div>
