<div class="search-wrapper">

  <input
    type="text"
    class="search-input"
    placeholder="Search products..."/>
<!--    [(ngModel)]="searchText"-->
<!--    (input)="onSearchChange()"-->


<!--  @if (false) {-->
<!--    <ul class="suggestions-list">-->
<!--      @for (product of suggestions; track product.id) {-->
<!--        <li class="suggestion-item">-->
<!--          {{ product.name }}-->
<!--        </li>-->
<!--      }-->
<!--    </ul>-->
<!--  }-->
  <span class="material-symbols-outlined search-icon">search</span>
</div>
