.wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;

  padding: 30px 70px;

  app-product-card{
    width: calc((100% - 30px) / 4);
  }
}
